.App{
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 100vw;
    height: 100vh;
}
.button{
  padding:0.5rem 0.7rem;
  border: 1px solid black;
    background:transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    font-weight: bold;
    color:black;
    transition: transform 0.2s ease;
}
.button:hover{
  transform:scale(1.1);
}